extends /base.pug
//-
  doctype html
  html
    include @/@loadingio/bootstrap.ext/index.pug
    head
      +css("/assets/lib/bootstrap/main/dist/css/bootstrap.min.css")
      +css("/assets/lib/@loadingio/bootstrap.ext/main/index.min.css")
      +css("/css/index.css")
    body

block body
    .w-1200.rwd.mx-auto.my-4
      .d-flex.align-items-center.justify-content-around
        .card.shadow(ld-each="form",style="min-width:30%"): .card-body
          input.form-control.mb-2(ld="input")
          textarea.form-control(readonly,rows="8",ld="output")
block script
  +script("/js/as.js")
  //-
    +script("/assets/lib/@loadingio/ldquery/main/index.min.js")
    +script("/assets/lib/@plotdb/json0/main/json0.min.js")
    +script("assets/lib/datahub/dev/dist/datahub.min.js")
    +script("/assets/lib/ldview/main/index.min.js")
    +script("/js/as.js")

