//- module
doctype html
html
  block vars
  include @/@loadingio/bootstrap.ext/index.pug
  include @/ldview/index.pug
  head
    block prehead
    +css([
      {name: "bootstrap", path: "dist/css/bootstrap.min.css"},
      {name: "@loadingio/bootstrap.ext"},
      {name: "ldiconfont", path: "ldif.min.css"},
      {name: "ldloader"},
      {name: "ldcover"},
      {url: "https://fonts.googleapis.com/css?family=Roboto:300,400,700|Roboto+Mono"},
      {url: "/css/index.css"}
    ])

    block head
  body

    block body
    +script([
      {name: "@plotdb/json0", path: "json0.min.js"},
      {name: "@plotdb/datahub", version: "dev", path: "datahub.min.js"},
      {name: "@plotdb/datahub", version: "dev", path: "sharehub.min.js"},
      {name: "bootstrap.native", path: "dist/bootstrap-native.min.js"},
      {name: "@loadingio/ldquery"},
      {name: "@loadingio/debounce.js"},
      {name: "ldloader"},
      {name: "ldcover"},
      {name: "ldview"},
      {name: "sharedb-wrapper", path: "client.bundle.min.js"},
    ])

    block script
